<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gooddeep.remoteser.p_public.mapper.PublicHeadImageMapper" >
  <resultMap id="BaseResultMap" type="PublicHeadImage" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="gd_type" property="gdType" jdbcType="INTEGER" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="usable" property="usable" jdbcType="BIT" />
  </resultMap>

<select id="selectById" resultMap="BaseResultMap">
		select * from public_head_image
		where id = #{id,jdbcType=VARCHAR}
	</select>


	<delete id="deleteById">
		delete from public_head_image
		where id = #{id,jdbcType=VARCHAR}
	</delete>

<delete id="deleteBySelect">
		delete from public_head_image
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="map.id!=null">
				AND id = #{map.id}
			</if>
			<if test="map.fkUser!=null">
				AND fk_user = #{map.fkUser}
			</if>
		</trim>
	</delete>

	<update id="updateBySelect">
		 update public_head_image
    <include refid="EX_UPDATE"></include>
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="map.id!=null">
				AND id = #{map.id}
			</if>
			<if test="map.fkUser!=null">
				AND fk_user = #{map.fkUser}
			</if>
		</trim>
	</update>
	<!-- 批量删除 -->
	<update id="deleteBySomeId">
		delete from public_head_image where id in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>


	<select id="list" resultMap="BaseResultMap">
		select * from public_head_image
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<!--  <if test="map.fkUser!=null">
				AND fk_user = #{map.fkUser}
			</if> -->

		</trim>
		order by create_time desc
	</select>


	<select id="findPage" resultMap="BaseResultMap">
		select * from public_head_image
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<!--  <if test="map.fkUser!=null">
				AND fk_user = #{map.fkUser}
			</if>  -->
		</trim>
		order by create_time desc
		limit #{page.recordNo},#{page.pageSize}
	</select>

	<select id="rowsSize" resultType="int">
		select count(1) from public_head_image
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<!-- <if test="map.fkUser!=null">
				AND fk_user = #{map.fkUser}
			</if>  -->
		</trim>
	</select>
	
  <insert id="insert" >
    insert into public_head_image (id, title, content, 
      gd_type, img_url, create_time, 
      create_user, url, usable
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{gdType,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{usable,jdbcType=BIT}
      )
  </insert>
 
  <update id="updateById">
    update public_head_image
   <include refid="EX_UPDATE"></include>
    where id = #{id,jdbcType=VARCHAR}
  </update>
<sql id="EX_UPDATE">
 <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="gdType != null" >
        gd_type = #{gdType,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="usable != null" >
        usable = #{usable,jdbcType=BIT},
      </if>
    </set>
</sql>
</mapper>